[submodule "core"]
	path = core
	url = git@github.com:jonlb/core.git
[submodule "modules/users"]
	path = modules/users
	url = git@github.com:jonlb/users.git
[submodule "modules/media"]
	path = modules/media
	url = git@github.com:jonlb/media.git
[submodule "modules/loader"]
	path = modules/loader
	url = git@github.com:jonlb/loader.git
[submodule "modules/error"]
	path = modules/error
	url = git@github.com:jonlb/error.git
[submodule "modules/admin"]
	path = modules/admin
	url = git@github.com:jonlb/admin.git
